<section id="about">
    <div class="container">
        <h1 class="section-heading">About Me</h1>
        <div class="row text-xs-center">
            <div class="col-md-4 mb-md-0 mb-2">
                 <img class="img" src="assets/images/AU1841051.jpg" alt="Photo of Bhumiti Gohel">
            </div>
            <div class="col-md-8 mt-md-0 mt-2">
                <div class="card">
                    <p *ngFor="let content of aboutContent">
                        {{content}}
                    </p>
                    <div class="socials">
                        <ul class="list">
                            <li>
                                <a href="https://github.com/bhumiti28">
                                    <i class="bi bi-github"></i>
                                </a>
                            </li>
                           
                            <li>
                                <a href="https://www.linkedin.com/in/bhumity-gohel2811">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/bhumity_gohel">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:bhumitygohel2811@gmail.com">
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="btn"
                        href="https://drive.google.com/file/d/1em_XRQ6wl5hQWYQ-ei14V7D9nF1szxVS/view?usp=sharing"
                        target="_blank" rel="noopener noreferrer">
                        Resume
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>