<nav class="navbar header-top-fixed navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand me-0" [routerLink]="['/']" fragment="home">Bhumiti Gohel</a>

        <button style="background-color: var(--px-theme);" class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse main-menu d-lg-flex justify-content-lg-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item" *ngFor="let route of routeLinks">
                    <a data-toggle="collapse" data-target=".in" data-scroll-nav="2" [ngClass]="{ 'active-link': (active_fragment) === route.link }"
                        class="nav-link"  href="#{{route.link}}">
                        <span>{{ route.name }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>