<div class="left">
    <ul class="list">
      <li>
        <a href="https://github.com/bhumiti28">
          <i class="bi bi-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/bhumity-gohel2811">
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/bhumiti_gohel/">
          <i class="bi bi-instagram"></i>
        </a>
      </li>
      <div class="line"></div>
    </ul>
  </div>
  <div class="right">
    <div class="email">
      <a href="mailto:bhumitygohel2811@gmail.com">bhumitygohel2811@gmail.com</a>
      <div class="line"></div>
    </div>
  </div>